In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# Gerando um dataset ficticio sobre imigrantes para o Canadá

data = pd.DataFrame({'Type':['Imigrants','Imigrants','Imigrants','Imigrants','Imigrants','Imigrants','Imigrants','Imigrants'], 
'Coverage': ['Foreigners','Foreigners','Foreigners','Foreigners','Foreigners','Foreigners','Foreigners','Foreigners'],
'OdName': ['Algeria','Andorra','Brazil','Albania','Argentina','Cuba','Afghanistain','Venezuela'],
'AREA': [223,421,324,421,324,262,723,324],
'AreaName': ['Africa','Europe','America','Europe','America','America','Asia','America'],
'REG': [123,321,224,321,224,162,623,224],
'RegName': ['Northem Africa','Southern Europa','Southern America','Southern Europe','Southern America','Central America','Southern Asia','Southern America'],
'DevName': ['Developing regions','Developing regions','Developing regions','Developing regions','Developing regions','Developing regions','Developing regions','Developing regions'],
'2009': [50000,100,500,100,600,500,5000,5000],
'2010': [41200,21230,40310,2000,2231,4000,23000,4000],
'2011': [30000,3000,3000,3000,20000,100,3000,4000],
'2012': [20000,4000,20000,4000,4000,200,200,200],
'2013': [2000,5000,7000,1200,900,300,700,8000]})

processData = data.set_index('OdName')
nColunm = []
for i in data['OdName'].unique():
    years = list(map(str,range(2009,2014))) # lista de 2009 á 2014 em formato de str armazenado na variavel years
    nColunm.append(processData.loc[i,years].sum())
  
processData['Total']=nColunm
processData.head()

,Type,Coverage,AREA,AreaName,REG,RegName,DevName,2009,2010,2011,2012,2013,Total
OdName,,,,,,,,,,,,,
Algeria,Imigrants,Foreigners,223,Africa,123,Northem Africa,Developing regions,50000,41200,30000,20000,2000,143200
Andorra,Imigrants,Foreigners,421,Europe,321,Southern Europa,Developing regions,100,21230,3000,4000,5000,33330
Brazil,Imigrants,Foreigners,324,America,224,Southern America,Developing regions,500,40310,3000,20000,7000,70810
Albania,Imigrants,Foreigners,421,Europe,321,Southern Europe,Developing regions,100,2000,3000,4000,1200,10300
Argentina,Imigrants,Foreigners,324,America,224,Southern America,Developing regions,600,2231,20000,4000,900,27731

<h2>Scatter Plots / Gráfico de Dispersão</h2>
<p>
Os gráficos de dispersão ou Scatter plot são representações gráficas do relacionamento entre duas variáveis numéricas. O Scatter plot utiliza pontos para representar essa relação, cada ponto representa o valor de uma variável no eixo horizontal e o valor de outra variável no eixo vertical.
</p><br>

In [18]:
years = list(map(str,range(2009,2014)))